body {
  font-family: sans-serif;
  background: #111;
  color: white;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

textarea {
  width: 100%;
  height: 150px;
}

input, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}
